<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<% timeDiff = function (dateTime) { var ms_Min = 60 * 1000; var ms_Hour =
  ms_Min * 60; var ms_Day = ms_Hour * 24; var ms_Mon = ms_Day * 30; var ms_Yr =
  ms_Day * 365; var diff = (new Date()) - new Date(dateTime); if (diff <
  ms_Min) { return Math.round(diff / 1000) + ' seconds ago'; } else if (diff <
  ms_Hour) { return Math.round(diff / ms_Min) + ' minutes ago'; } else if (diff
  < ms_Day) { return Math.round(diff / ms_Hour) + ' hours ago'; } else if (diff
  < ms_Mon) { return Math.round(diff / ms_Day) + ' days ago'; } else if (diff <
  ms_Yr) { return Math.round(diff / ms_Mon) + ' months ago'; } else { return
  Math.round(diff / ms_Yr) + ' years ago'; } } %>

    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg fixed-top bg-light">
                            <div class="container-fluid">
                                <a class="navbar-brand m-auto" href="https://www.pinkvilla.com/">
                                    <img src="/images/logo.png" />
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="container pv_main">
            <div class="row">
                <div class="col-lg-12">
                    <div class="feed_wrapper">
                        <% feeds.forEach(function(node){ %>
                            <div class="feed card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img src="<%= node?.image?.url %>" class="img-fluid rounded-start pv_img" alt="<%= node?.image?.caption %>" />
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <div class="card-body">
                                            <a href="<%= node?.url %>">
                                                <h5 class="card-title">
                                                    <%= node.title %>
                                                </h5>
                                            </a>
                                            <p class="card-text">
                                                <small class="text-muted"><%= timeDiff(node.date) %></small
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
          <div class="pv_loader" style="display: none">
            <img src="/images/loader.gif" />
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script>
      var page = "<%=page%>";
      var apiUrl = "<%=apiUrl%>";
      var apiDomain = "<%=apiDomain%>";
    </script>
    <script type="text/javascript" src="/javascripts/custom.js"></script>
  </body>
</html>